.bookingBox {
    display: contents;
    width: 100%;
    text-align: left;
    margin:0 !important;

    border-radius: 8px;
    background-color: lightblue !important;

    p {
        margin: 0;
      }
}