.MainPage{

    height: calc(100vh - 70px);
    .flexBox {
        
        display: flex;
        
        .left {
            flex: 0.5;
            width: 50vh;
        }
        
        .right {
            flex: 0.5;
            width: 50vh;
        }

    }

}