.MainPage{

    .flexBox {
        
        display: flex;
        
        .left {
            flex: 0.5;
            width: 50%;
        }
        
        .right {
            flex: 0.5;
        }

    }

}